.allDrinkItem  img{
    border-radius: 15px;
    width: 200px;
    height: 200px;
}

.allDrinkItem {
    position: relative;
    color: white;
    font-size: 30px;
    text-align: left;
}

.allDrinkName {
    position: absolute;
    bottom: 20px;
    left: 8px;
    background-color: grey;
    border-radius: 10px;
    padding: 3px;
}

.allDrinkContainer {
    display: flex;
    flex-flow: row wrap;
}