header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50vw;
}

nav .Link {
  border: 1px solid black;
  text-decoration: none;
}

#categories-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.category-img {
  object-fit: contain;
  width: 30vw;
}

.Footer {
  display: flex;
  justify-content: space-between;
}

.issue {
  color: black;
  font-size: 15px;
  text-decoration: none;
  text-align: left;
}

footer {
  font-family: Shadows Into Light, Arial, sans-serif;
  font-size: 15px;
  text-align: right;
}

.ingredientContainer {
  display: flex;
}

.showDrinkImg {
  width:300px;
  height: 300px;
}

.thumbnail {
  width: 100px;
  height: 100px;
}

.active {
  background-color: grey;
}